<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Document</title>

</head>

<body style="background-color:rgb(101, 185, 17); ">
    <div class="container">
        <h1>Speech to Text</h1>
       <div class="d-flex flex-column justify-content-center align-items-center" style="height: 100vh;">

			<div class="mb-5">
				<img class="btn not-recording" id="recorder" src="http://localhost:5000/static/icons/microphone-off.png">
			 </div>

			<div class="p-3 mb-2 bg-light text-dark rounded" id="response-text">
				Press mic button to record
			</div>
		</div>
        
    </div>
    <script>
    let audioIN = { audio: true };
	// audio is true, for recording

	// Access the permission for use
	// the microphone
	navigator.mediaDevices.getUserMedia(audioIN)

	// 'then()' method returns a Promise
	.then(function (mediaStreamObj) {

		// Start record
		let record_button = document.getElementById('recorder');

        


		// 2nd audio tag for play the audio
		// let playAudio = document.getElementById('adioPlay');

		// This is the main thing to recorde
		// the audio 'MediaRecorder' API
		let mediaRecorder = new MediaRecorder(mediaStreamObj);
		// Pass the audio stream
		// Start event
		record_button.addEventListener('click', function (e) {
            if (e.target.classList.contains("not-recording")){
                    e.target.classList.remove("not-recording")
                    e.target.classList.add("recording")
                    e.target.src = "http://localhost:5000/static/icons/microphone-on.png"
                    
                    mediaRecorder.start();
					$('#response-text').text("Recording...")
                    
                    
                }
                else{
                    e.target.classList.remove("recording")
                    e.target.classList.add("not-recording")
                    e.target.src = "http://localhost:5000/static/icons/microphone-off.png"
                    
                    mediaRecorder.stop();
					$('#response-text').text("Loading...  Please Wait")
                }
		
		
		})

		
		// If audio data available then push
		// it to the chunk array
		mediaRecorder.ondataavailable = function (ev) {
		dataArray.push(ev.data);
		}

		// Chunk array to store the audio data
		let dataArray = [];

		// Convert the audio data in to blob
		// after stopping the recording
		mediaRecorder.onstop = function (ev) {

		// blob of type mp3
		let audioData = new Blob(dataArray,
					{ 'type': 'audio/mp3;' });
			
		// After fill up the chunk
		// array make it empty
		dataArray = [];

		// Creating audio url with reference
		// of created blob named 'audioData'
		let audioSrc = window.URL
			.createObjectURL(audioData);

		let formData = new FormData();
		formData.append("audio_file", audioData)

		// Pass the audio url to the 2nd video tag
		fetch("http://localhost:5000/audioBlob", { method: 'POST', body: formData }).then(
			response=> response.json()
		).then(
			data=>{
				let transcript = ""
				$(data.Transcript).each((index)=>{
					transcript+=data.Transcript[index]
				})
				if (transcript==''){
					$('#response-text').text("No speech detected")
				}
				else{
					$('#response-text').text(transcript)
				}
				
			}
		)
		
        
		}
        
	})

	// If any error occurs then handles the error
	.catch(function (err) {
		console.log(err.name, err.message);
	});
</script>
</body>

</html>
